extends ../layouts/common.pug

block content
	h1 Đổi mật khẩu
	if errors
		each error in errors
			.alert.alert-danger= error
	if success
		each succes in success
			.alert.alert-primary= succes
	form(method="POST")
		.form-group
			label(for="password") Mật khẩu hiện tại
			input.form-control(type="password", name="password", value=user.password, placeholder="default text")
		
		.form-group
			label(for="changePassword") Mới khẩu mới
			input.form-control(type="password", name="changePassword", value=user.changePassword, placeholder="default text")

		.form-group
			label(for="confirmPassword") Xác nhận mật khẩu
			input.form-control(type="password", name="confirmPassword", value=user.confirmPassword, placeholder="default text")
		
		button.btn.btn-primary Thay đổi mật khẩu
