extends ../layouts/common.pug

block content

	h1 Thông tin người dùng

	table.table
		tr
			th Name
			th Email
			th Phone
			th Gender
			th Birth
			th Action
			th Permisstion
			

		each user in users
			tr
					td= user.name
					td= user.email
					td= user.phone
					td= user.gender
					td= user.dateofbirth
					td
						a(href='/users/delete-user/'+user._id) Xóa