extends ../layouts/common.pug

block content

	if errors
		each error in errors
			.alert.alert-danger= error

	h1 Thông tin người dùng
	form(action='/users/search', method="GET")
		.form-group
			input.form-control(type="text", name="search")
		button.btn.btn-primary Search

	table.table
		tr
			th Name
			th Email
			th Phone
			th Gender
			th Birth
			th Action
			th Permisstion
			

		each user in users
			tr
					td= user.name
					td= user.email
					td= user.phone
					td= user.gender
					td= user.dateofbirth
					td
						a(href='/users/delete-user/'+user._id) Xóa
					td
						form(action='/users/change-roles/'+user._id, method="POST")
							.form-group
								input.form-control(type="text", name="roles", value=user.roles)
							button.btn.btn-primary Upgrade

